{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/profile.css">
<link rel="stylesheet" href="/static/styles/postMeta.css">
<link rel="stylesheet" href="/static/styles/home.css">
{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="col-md-5 profilebg mx-auto">
    <p class="profile-title my-3 text-center">{{userData['Username']}}'s Profile</p>
    <hr class="mx-auto mb-3">
    <div class="profile-field">
      <div class="col-md-6">
        <i class="fa fa-id-card-o mr-3" aria-hidden="true" style="font-size:24px"></i>
        <span class="field-title">Name:</span>
      </div>
      <div class="col-md-6">
        <p class="value">{{userData['Name']}}</p>
      </div>
    </div>
    <div class="profile-field">
      <div class="col-md-6">
        <i class="fa fa-gift mr-3" aria-hidden="true" style="font-size:24px"></i>
      <span class="field-title">Birthday:</span>
      </div>
      <div class="col-md-6">
        <p class="value">{{userData['Birthday']}}</p>
      </div>
    </div>
    <div class="profile-field">
      <div class="col-md-6">
        <i class="fa fa-child mr-3" aria-hidden="true" style="font-size:24px"></i>
      <span class="field-title">Status:</span>
      </div>
      <div class="col-md-6">
        <p class="value">{{userData['Status']}}</p>
      </div>
    </div>
    <div class="profile-field">
      <div class="col-md-6">
        <i class="fa fa-star-o mr-3" aria-hidden="true" style="font-size:24px"></i>
      <span class="field-title">Credibility:</span>
      </div>
      <div class="col-md-6">
        <p class="value">{{userData['Credibility']}}</p>
      </div>
    </div>


    <div class="text-center">
      <form method = "POST" action="/adminDeleteUser/{{userData['Username']}}">
      <button type="submit" class="btn btn-danger" >Delete User</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
