{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/styles/viewPost.css">
{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
        <div class="post-preview">
          <h1 class="post-title">
            Hi my name is Hon Hon and you are watching Disney Channel!
          </h1>

          <p class="post-text">
            Just imagine that I'm drawing the Mickey Mouse shape with a wand 🐭✨
            <br/>
            <br/>
            HonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHon
            BaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguette
            <br/>
            <br/>
            HonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHonHon
            BaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguetteBaguette
          </p>

          <p class="post-meta">Posted by
            <a href="#">Baguette</a>
            on September 24, 2019
          </p>
        </div> <!--Post-->
    </div> <!--Column-->

    <div class="col-md-10">
      <div class="comment">
        <p class="comment-meta">
          <a href="#">OmNom</a>
          | September 24, 2019
        </p>

        <p>I love bread!</p>
      </div> <!--Comment-->

      <div class="comment">
        <p class="comment-meta">
          <a href="#">IAmBread</a>
          | September 24, 2019
        </p>

        <p>Garlic bread ftw :D</p>
      </div> <!--Comment-->

      <div class="comment">
        <p class="comment-meta">
          <a href="#">BreadWarrior</a>
          | September 24, 2019
        </p>

        <p>
          Bread lovers unite! Comment as many types of bread as you can!
           White bread, Tortilla, Breadsticks, Mantou, Roti, Flatbread, Toast, Rye bread, Crumpet
        </p>

        <div class="sub-comment">
          <p class="comment-meta">
            <a href="#">Minions</a>
            | September 24, 2019
          </p>
          <p>Bananananananaaaaaaaaaaaaaaaaa bread</p>
        </div> <!--Sub Comment-->

        <div class="sub-comment">
          <p class="comment-meta">
            <a href="#">YeastDude</a>
            | September 24, 2019
          </p>
          <p>sourdough and cornbread</p>
        </div> <!--Sub Comment-->

        <div class="sub-comment">
          <p class="comment-meta">
            <a href="#">uwuwuwu</a>
            | September 24, 2019
          </p>
          <p>bagels!! and croissant</p>
        </div> <!--Sub Comment-->

        <div class="sub-comment">
          <p class="comment-meta">
            <a href="#">human</a>
            | September 24, 2019
          </p>
          <p>Flatbread</p>
        </div> <!--Sub Comment-->

        <div class="sub-comment">
          <p class="comment-meta">
            <a href="#">JustARadomBoop</a>
            | September 24, 2019
          </p>
          <p>Chapati, Naan</p>
        </div> <!--Sub Comment-->

      </div> <!--Comment-->

    </div> <!--Column-->


    </div> <!--Column-->
  </div> <!--Row-->
</div> <!--Container-->
{% endblock %}
